.navbar-nav .nav-link {
  font-size: 1.1rem; /* Aumenta el tamaño de la fuente */
  letter-spacing: 0.05rem; /* Añade un pequeño espaciado entre letras */
  transition: color 0.3s ease; /* Transición suave para el hover */
}

.navbar-nav .nav-link:hover {
  color: #ffc107; /* Cambia el color al pasar el mouse por encima */
}
